
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --Very-paleblue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}



body {
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--Pale-blue);
  font-family: "Red Hat Display" , sans-serif;
  min-height: 100vh;
 position: relative;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  background: white;
  
  border-radius: 20px;
  overflow: hidden;
}

.section {
  padding: 7%;
  text-align: center;
}

h2 {
  color: var(--Dark-blue);
  font-weight: 900;
  font-size: 32px;
  margin-bottom: 20px;
}
 
.container p.subtitle {
  color: var(--Desaturated-blue); 
  margin-bottom: 25px;
}

.plan {
  background-color: var(--Very-paleblue);
  border-radius: 12px;
  display: flex;
  padding: 25px;
  align-items: center;
  justify-content: space-between;
}

.plan-left {
  display: flex;
  align-items: center;
  text-align: left;
}

.plan-left div {
  margin-left: 20px;
}

.plan-left div h5 {
  font-weight: 900;
  font-size: 15px;
  color: var(--Dark-blue);
}

.plan-left div p {
 
  font-size: 14px;
  color: var(--Desaturated-blue);
}

.plan a {
  font-weight: 900;
  color: var(--Dark-blue);
}

.plan a:hover {
  text-decoration: none;
  color: var(--Bright-blue);
  transition: color .3s ease;
}

a.proceed-btn {
  display: block;
  text-decoration: none;
  color: white;
  background-color: var(--Bright-blue);
  padding: 20px 0;
  border-radius: 12px;
  margin: 30px 0;
  transition: background-color .3s ease;
}

a.proceed-btn:hover {
  background-color: var(--Desaturated-blue);
}

a.cancel-btn {
   color: var(--Desaturated-blue);
   text-decoration: none;
   font-weight: 900;
   transition: color 3s ease;
}

a.cancel-btn:hover {
  color: var(--Dark-blue);
}

@media only screen and (max-width: 425px) {
  body {
    background-image: url(images/pattern-background-mobile.svg);
    font-size: 14px;
  }

  .container {
    max-width: 87%;
  }
  .titlr {
    font-size: 23px;
  }
  div.plan {
    padding: 12px;
  } 
  .plan-left div {
    margin-left: 10px;
  }
  a.proceed-btn, a.cancel-btn, .plan a {
    font-size: 13px;
  }
  .section {
    padding: 9% 7%;
  }
}